a {
	//display : block;
	float : right;
	color:#fff;

	text-decoration-color: black;
	padding: 0 10px;
	text-decoration: none;
	width:55px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	font-family: "Lucida Grande", sans-serif;
	line-height: 50px;
	font-size: 11px;
	font-weight: 100;
	font-variant: small-caps;
}
.l{
	width:110px;
	font-family: "Lucida Grande", sans-serif;
	font-weight: 100;
}
.frt{
	clear:both;
	color: white;
	font-size: 36px;
	font-weight: 100;
	position: absolute;
	bottom:65px;
	width: 100%;
	text-align: center;
	font-family: "Lucida Grande", sans-serif;
}
h3.frt{
	font-size: 18px;
	bottom:55px;
}
a:hover{
	background-color: rgba(0,0,0,.3);
font-family: "Lucida Grande", sans-serif;
}
.wasteman{
	height:2000px;
	width:0px;
}

body{
	margin: 0px;
	padding: 0px;
	
}
nav{
	margin: 0px;
	padding: 0px;
	position:fixed;
	top: 5px;
	right:5px;
	min-width: 700px;
}
.bar{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 55%;
	position: absolute;
	top:0px;
	background-image: url('boat.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	border-bottom:solid 3px black;

}
.abt{
	position: absolute;
	top:62%;
	margin: 0 auto;
	text-align: center;
	
}
h2 { 
	position:relative;
	text-align: center;
	top:0px;
	padding:  0 10%;
	margin: 0 20%;
border-bottom: solid black 1px;
 }
p{
	position: relative;
	margin: 0 auto;
	width: 80%;
	top:20px;
}
.aca-banner{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 30%;
	position: absolute;
	top:100%;
	background-image: url('desks.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	border-bottom:solid 3px black;

}