a {
	//display : block;
	float : right;
	color:#fff;
transition: background-color .3s ease-in-out;
transition: font-size .3s ease-in-out;
transition: width .3s ease-in-out;
	text-decoration-color: black;
	padding: 0 10px;
	text-decoration: none;
	width:55px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	font-family: "Lucida Grande", sans-serif;
	line-height: 50px;
	font-size: 11px;
	font-weight: 100;
	font-variant: small-caps;
}
@font-face {
    font-family: 'geometria_lightlight';
    src: url('geometria-light-webfont.eot');
    src: url('geometria-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('geometria-light-webfont.woff2') format('woff2'),
         url('geometria-light-webfont.woff') format('woff'),
         url('geometria-light-webfont.ttf') format('truetype'),
         url('geometria-light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1{
	font-family: 'geometria_lightlight';
}
.l{
	width:110px;
	font-family: "Lucida Grande", sans-serif;
	font-weight: 100;
}
.frt{
	color: white;
	font-size: 36px;
	font-weight: 100;
	position: absolute;
	bottom: 20%;
	width: 100%;
	font-weight: 100;
	text-align: center;
	font-family: "Lucida Grande", sans-serif;
	font-family: 'geometria_lightlight';
}
h3.frt{
	font-size: 18px;
	bottom:15%;
}
.col{
	color: #0B108C;
}
a:hover{
		line-height: 50px;
	background-color: rgba(0,0,0,.1);
	font-size: 85%;
	width: 75px;
}a.l:hover{
	font-size: 82%;
	width: 130px;

}
.wasteman{
	height:500%;
	width:0px;
}

body{
	margin: 0px;
	padding: 0px;
	min-width:600px;
	min-height: 400px;
	
}
.navbar{
	margin: 0px;
	padding: 0px;
	position:fixed;
	transition: background-color .3s ease-in-out;
	padding-right:5px;
	width: 100%;
	top:0;
	right:0;
	min-width: 700px;
	background-color: rgba(0,0,0,0);
}
.bar{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 55%;
	position: absolute;
	top:0px;
	background-image: url('boats.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: 100%;
	border-bottom:solid 3px white;
}
.abt{
		font-family: 'geometria_lightlight';
}
div.abt{
	position: absolute;
	top:55%;
	border-top: solid white 2px;
	border-bottom: solid white 2px;
	margin: 0 auto;
	text-align: center;
	height: 44.3%;
	/*background: linear-gradient(to bottom left, rgba(240,220,250,1), rgba(215,210,255,1)); */
}
h2.cen{ 
	position:relative;
	text-align: center;
	top:25%;
	padding:  0 10%;
	margin: 0 20%;
	border-color: #0C0F66;
	border-bottom: solid 1px;
 }
p.abt{
	position: relative;
	margin: 0 auto;
	width: 80%;
	top:30%;
}
p{

	margin-top: 5px;
}
h4{

	margin-bottom: 5px;
	margin-top: 0px;
	top:0;
	position: relative;
}
.aca-banner{
	width: 100%;
	margin: 0px;
	border-top: solid white 2.5px;
	padding: 0px;
	min-height: 100px;
	height: 25%;
	position: absolute;
	top:100%;
	background-image: url('desks.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}
.logo{
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 6vh;
	background-color: rgba(0,0,0,0);
	margin: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#waterloo{
	left: 2%;
	background-image: url('waterloo.png');
}
#dover{
	left:50%;
	background-image: url('dbay.png');
}
#horatio{
	width: 100%;
	position: absolute;
	
	height:25%;
	bottom: 30%;
}
#horati{
	background-image: url('horatio.png');
}
#logiq{
	left: 2%;
	background-image: url('logiq3.png');
}
#waterloop{
	left:50%;
	border: solid white 1.5px;
	background-image: url('waterloop.png');

}
#midsun{
	background-image: url('midsun.png');

}
.texthold.award{
	width:80%;

}
.aca{
	width: 100%;
	height: 75%;
	top:125%;
	min-width: 600px;
	min-height: 400px;
	background-color: #bbb;
	position: absolute;
	width: 100%;
	border-top: solid white 2.5px;
	background: linear-gradient(to bottom right, #107FC9, #49DDDD); /* Standard syntax */
}
.subt{

}
.texthold{
	position: absolute;
	left:15%;
	top:6vh;
	width:32%;

}
p, .subt{
	font-family: 'geometria_lightlight';
	color: white;
}
#dove{
	position: absolute;
	left:63%;
}
.test{
	position: relative;
}
#proj{
	top:200%;
	height: 25%;
	background-image: url(qhack.jpg);
}
#projects{
	top:225%;
	height:140%;
	background:white;
}
#work{
	background-image: url(workex.jpg);
	top:365%;
}
#work-container{
	top:385%;
}
#sh{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.15);
}
.pros{
	display: inline-block;
		margin-top: 5%;
	margin-bottom: 0%;
	margin-top: 2.2%;
	margin-left: 2.2%;
	width: 30%;
	height: 45%;
		box-shadow: 0px 6px 20px 0px #eee;
}
.items{
	
	position: relative;
	width: 100%;
	height: 35%;
	background-color: #fff;
}
.items.desc{
	margin-top: 0;
	height: 65%;

	background-color: #fff;

}
