a {
	//display : block;
	float : right;
	color:#fff;

	text-decoration-color: black;
	padding: 0 10px;
	text-decoration: none;
	width:55px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	font-family: "Lucida Grande", sans-serif;
	line-height: 50px;
	font-size: 11px;
	font-weight: 100;
	font-variant: small-caps;
}
.l{
	width:110px;
	font-family: "Lucida Grande", sans-serif;
	font-weight: 100;
}
.frt{
	clear:both;
	color: white;
	font-size: 36px;
	font-weight: 100;
	position: absolute;
	bottom:65px;
	width: 100%;
	text-align: center;
	font-family: "Lucida Grande", sans-serif;
}
h3.frt{
	font-size: 18px;
	bottom:55px;
}
a:hover{
	background-color: rgba(0,0,0,.3);
font-family: "Lucida Grande", sans-serif;
}
.wasteman{
	height:500%;
	width:0px;
}

body{
	margin: 0px;
	padding: 0px;
	min-width:600px;
	min-height: 400px;
	
}
nav{
	margin: 0px;
	padding: 0px;
	position:fixed;
	top: 5px;
	right:5px;
	min-width: 700px;
}
.bar{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 55%;
	position: absolute;
	top:0px;
	background-image: url('boats.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	border-bottom:solid 3px black;

}
.abt{
	position: absolute;
	top:62%;
	margin: 0 auto;
	text-align: center;
	
}
h2.cen{ 
	position:relative;
	text-align: center;
	top:0px;
	padding:  0 10%;
	margin: 0 20%;
border-bottom: solid black 1px;
 }
p.abt{
	position: relative;
	margin: 0 auto;
	width: 80%;
	top:20px;
}
.aca-banner{
	width: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 200px;
	height: 25%;
	position: absolute;
	top:100%;
	background-image: url('desk.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	border-bottom:solid 3px black;
}
.logo{
	background-color: #555;
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 25px;
	
	margin: 0px;
	
}
#waterloo{
	left: 2%;
}
#dover{
	left:50%;
}
#horatio{
	width: 100%;
	position: absolute;
	min-width: 35%;
	height:25%;
	bottom: 25%;
}
.aca{
	width: 100%;
	height: 75%;
	top:125%;
	min-width: 600px;
	min-height: 400px;
	background-color: #bbb;
	position: absolute;
	width: 100%;
}
.subt{

}
.texthold{
	position: absolute;
	left:15%;
	width:32%;
}
#dove{
	position: absolute;
	left:63%;
}
.test{
	position: relative;
}
#proj{
	top:200%;
}
#projects{
	top:220%;
	height:140%;
}
#work{
	top:360%;
}
#work-container{
	top:385%;
}
.items{
	display: inline-block;
	position: relative;
	width: 30%;
	margin-top: 5%;
	margin-bottom: 0;
	margin-left: 2.2%;
	height: 15%;
	background-color: #fff;
}
.items.desc{
	margin-top: 0;
	height: 20%;
}
#last{
	display: block;
}