
@font-face {
    font-family: 'antic';
    src: url('antic-didone.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.navbar-space{
	height: 80px;
	margin: 0;
}
.jumbotron{
	margin: 0px;
	padding: 0px;
	background-image: url('banner.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	border-bottom:solid 3px white;
color:#fff;
width: 100%;
}
li a{
	height: 80px;
	line-height: 80px;
}
.jumbotron h1{
	margin:0;
	padding-top:250px;
}
.container-fluid.jumbo-holder{
	padding: 0;

}
.jumbotron h3{

	margin: 0;
	padding-bottom:150px; 
}
.title-text{

text-align: center;
}
.navbar{
border:0;
min-height: 80px;
margin: 0;
}
