
@font-face {
    font-family: 'antic';
    src: url('antic-didone.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.navbar-space{
	height: 50px;
	margin: 0;
}
.container-fluid .jumbotron{
	margin: 0px;
	padding: 0px;
	background-image: url('banner.jpg'); 
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	border-radius: 0;
	border-bottom:solid 2px black;
color:#fff;
width: 100%;
}
.row{
	width: 100%;
	margin:0;
}
#soar-container{
	background-color: #8e8687;
}
#website-container{
	background-color: #223270;
}
#quickpic-container{
	background-color: #89ccff;
}
#deltadiet-container{
	background-color: #ddd;
}
#projects-container{
	background-color:white;
	padding-bottom:0;
}
.project-image{
	height: 30%;

	width: 80%;
	border: solid 2px white;
	margin: 0 auto;
	margin-top: 8%;
}

.section-container .col-md-4{
	background-color: #e05770;
	height: 350px;
	overflow: hidden;
}
li a{

}
#projects-title h2{
	text-align: center;
	padding: 50px;

}
#waterloop{

}
.jumbotron h1{
	margin:0;
	padding-top:300px;
}
.container-fluid.jumbo-holder{
	padding: 0;

}
.section-title h2{
	text-align: center;
	padding: 50px;
	color: white;

}
#workexperience-title{
	background-image: url(images/workex.jpg);
}
#academia-title{
	background-image: url(images/desk.jpg);
}
#contact-title{
	background-image: url(images/contact.jpg);
}
#workexperience-container{
	background: linear-gradient(to top, #3B4054, #1085DE);
}
#academia-container{
	background: linear-gradient(to bottom, #3B4054, #502924)
}
.acad-workex .row{
	margin-bottom: 20px;
}
.jumbotron h3{

	margin: 0;
	padding-bottom:100px; 
}
.row{
	width: 100%;
}
.title-text{
text-align: center;
}
.navbar{
border:0;

margin: 0;
}
.section-title{
	border:solid 1px black;
	border-left: 0;
	border-right: 0;
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
.section-container{
	margin:0;
	padding: 0;
	padding-bottom: 40px;
	}

h2{
	margin:0;
}
.first-row.row{
	position: relative;
	margin-top: 40px;
}
.col-xs-6 h3, .col-xs-6 h4, .col-xs-6 p{
	color: white;
}
.image{
	width: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	float: right;
	padding-bottom: 60%;

}
#waterloo{
	background-image: url(images/waterloo.png);

}
#waterloop{
	background-image: url(images/waterloop.png);
		background-size: 100%;
}
#midsun{
	background-image: url(images/midsun.png);
}
#logiq3{
	background-image: url(images/logiq3.png);
}
#mlh{
	background-image: url(images/mlh.png);
}
#horatio{
	background-image: url(images/horatio.png);
}
.project-image{
	background-position: center;
	background-size: 100%;
}
#slice{
	background-image: url(images/slice.png);
	background-size: 100%;
	background-position: top;
}
#soar{
	background-image: url(images/soar.png);
}
#deltadiet{
	background-image: url(images/deltadiet.jpg);
	background-position: top;
}
#website{
	background-image: url(images/web.png);
	background-position: top;
}
#quickpic{
	background-image: url(images/quikpic.png);
}