.profile{
  height: 300px;
  width: 300px;
  border-radius:100%; 
  background: url('profile_.jpg');
  background-position: center;
  background-size: cover;
  margin: 10px auto;
  border: 1px solid rgb(168,216,240);
}
@media (max-width: 550px){
  .profile{
    height: 200px;
    width: 200px;
  }
}
h5 {
  transition: color ease-in-out .3s;
}
h1{
  font-size: 48px;
}
.proj-thumb{
  max-width: 100%;
  height: auto;
}
.proj-card{
  border: 2px solid rgba(0, 0, 0, 0.16);
  margin-right: 15px; 
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.19); 
  transition: box-shadow ease-in-out .3s, transform ease-in-out .3s, border ease-in-out .3s;
  transform: scale(0.98);
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}
.proj-card:hover h5{
  color:  #e05770;

}
.project p{
  font-size: 18px;
} 
.proj-card:hover{ 
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 2px solid rgba(224, 87, 112, 0.56);
  transform: scale(1);
}

.proj-text{
  padding: 15px;
  color: #000;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}
.proj-text:hover{
  text-decoration: none;
  
}
.proj-text h3{
  margin-top: 0px;
}
.contact-header{
  margin-bottom: 0;
}
.in-progress{
  color: rgb(168,216,240);
  font-size: 16px;
}
.col-md-4{
  padding: 0;
  margin-bottom: 25px;
}
.intro{
  font-size: 20px;
  margin: 30px auto;
}
.container{
  width:80%;
  margin-top: 50px;
  position: relative;

}
.text-link:hover{
  color: rgb(168,216,240);
}
.color1{
  color: rgb(168,216,240);
}
.color2{
  color: #e05770;
}
.cards-container{
  margin-top: 30px;
}
.contact-icon{
  text-decoration: none;
  font-size: 36px;
  color:  #e05770;
  margin-right: 10px;
  transition: color .3s ease-in-out;
}
.contact-icon:hover{
  text-decoration: none;
  color: rgb(168,216,240);

}
.button{
  margin-top:30px;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  background-color: rgb(168,216,240);
  color: white;
  border-radius: 3px;
  transition: background-color .3s ease-in-out;
}
.button:hover{
  text-decoration: none;
  background-color: #e05770;
  color: white;
}
a:visited, a:active,div > a:hover{
  text-decoration: none;
}
.contact-links{
  margin-bottom: 30px;
}